In [1]:
# script to create historical average of stations 6,10,22,25
import pandas as pd

import holidays

In [58]:
ith=4

In [81]:
df=pd.read_csv("/Users/luca/Desktop/GEFCom2014 Data/Load/Task 4/L4-avg_test_clean3.csv", sep=",", decimal=".")

df

      LOAD  DAY  MONTH  HOUR  DAY_OF_WEEK  IS_HOLIDAY  w_avg
0    166.3    1      1     1            5           0  39.96
1    162.8    1      1     2            5           0  40.40
2    159.7    1      1     3            5           0  39.36
3    160.1    1      1     4            5           0  40.20
4    163.1    1      1     5            5           0  40.12
..     ...  ...    ...   ...          ...         ...    ...
739  216.9   31      1    20            0           0  39.00
740  212.2   31      1    21            0           0  38.80
741  200.4   31      1    22            0           0  38.24
742  186.5   31      1    23            0           0  37.76
743  173.9    1      2     0            1           0  37.20

[744 rows x 7 columns]

In [80]:
df.groupby(["MONTH","DAY","HOUR"]).mean("LOAD")

                      LOAD         w1         w2    w3         w4         w5  \
MONTH DAY HOUR
1     1   0     149.440000  42.555556  44.666667  38.0  44.222222  46.888889
          1     141.633333  40.100000  42.400000  35.5  41.000000  44.400000
          2     137.800000  40.200000  42.500000  34.5  39.900000  43.600000
          3     133.916667  39.300000  41.400000  33.6  39.000000  42.200000
          4     132.850000  37.700000  41.400000  33.7  38.900000  42.400000
...                    ...        ...        ...   ...        ...        ...
      31  19    201.800000  44.800000  40.400000  39.6  43.700000  47.700000
          20    206.650000  42.100000  38.500000  38.1  43.400000  44.800000
          21    207.066667  41.600000  38.900000  36.8  41.600000  43.100000
          22    202.016667  41.600000  38.300000  35.3  40.800000  42.400000
          23    191.400000  41.200000  37.500000  34.7  40.000000  42.100000

                       w6         w7         w8         w9  ...        w18  \
MONTH DAY HOUR                                              ...
1     1   0     45.222222  47.333333  47.111111  39.111111  ...  50.555556
          1     43.600000  45.300000  44.300000  36.300000  ...  48.100000
          2     42.900000  45.900000  42.600000  36.100000  ...  47.200000
          3     42.900000  44.700000  41.100000  36.100000  ...  47.100000
          4     42.200000  43.500000  40.800000  34.700000  ...  46.100000
...                   ...        ...        ...        ...  ...        ...
      31  19    40.400000  41.500000  46.400000  35.200000  ...  42.600000
          20    39.000000  40.000000  44.200000  34.100000  ...  41.900000
          21    37.600000  38.900000  43.000000  33.400000  ...  41.000000
          22    38.800000  38.600000  42.500000  33.100000  ...  40.900000
          23    38.400000  38.300000  42.100000  32.800000  ...  40.600000

                      w19        w20        w21        w22        w23  \
MONTH DAY HOUR
1     1   0     40.111111  48.333333  45.222222  44.888889  45.333333
          1     38.200000  45.600000  43.600000  42.800000  42.900000
          2     37.700000  44.800000  43.200000  43.200000  42.600000
          3     37.500000  44.100000  43.200000  42.800000  42.300000
          4     36.700000  43.600000  42.500000  42.300000  41.700000
...                   ...        ...        ...        ...        ...
      31  19    41.300000  42.100000  36.200000  43.100000  43.600000
          20    39.900000  40.200000  36.400000  41.300000  41.700000
          21    38.000000  39.800000  37.100000  40.600000  40.900000
          22    37.400000  39.800000  38.100000  40.200000  40.100000
          23    36.400000  38.600000  37.200000  39.800000  40.200000

                      w24        w25  DAY_OF_WEEK      w_avg
MONTH DAY HOUR
1     1   0     45.222222  42.555556     2.777778  44.964444
          1     42.800000  41.200000     2.500000  42.560000
          2     42.600000  41.900000     2.500000  42.048000
          3     42.100000  41.500000     2.500000  41.524000
          4     41.500000  41.600000     2.500000  40.996000
...                   ...        ...          ...        ...
      31  19    41.700000  39.800000     3.100000  41.928000
          20    40.000000  38.200000     3.100000  40.440000
          21    39.300000  37.800000     3.100000  39.604000
          22    38.800000  37.400000     3.100000  39.168000
          23    38.000000  36.200000     3.100000  38.596000

[744 rows x 28 columns]

In [56]:
df2=pd.read_csv("/Users/luca/Desktop/GEFCom2014 Data/Load/Task 4/L4-test_clean.csv", sep=",", decimal=".")
df

,LOAD,w1,w2,w3,w4,w5,w6,w7,w8,w9,...,w22,w23,w24,w25,DAY,MONTH,HOUR,DAY_OF_WEEK,IS_HOLIDAY,w_avg
70127,205.0,28,32,26,27,36,31,33,33,18,...,30,32,29,30,1,1,0,3,1,30.16
70128,202.8,27,30,26,27,34,29,32,32,18,...,28,30,28,28,1,1,1,3,1,28.96
70129,202.8,27,30,23,29,32,28,31,31,18,...,27,28,28,27,1,1,2,3,1,28.12
70130,203.0,23,28,23,25,32,26,30,30,17,...,27,28,26,27,1,1,3,3,1,27.00
70131,205.7,21,28,23,21,32,26,29,29,17,...,25,27,26,26,1,1,4,3,1,26.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70867,209.2,32,32,33,39,36,31,31,36,30,...,30,34,38,32,31,1,20,5,0,34.36
70868,213.9,32,30,31,37,34,24,29,34,30,...,30,32,36,32,31,1,21,5,0,32.72
70869,212.2,32,32,28,37,36,28,29,36,30,...,32,30,35,33,31,1,22,5,0,33.04
70870,205.4,37,32,27,36,36,32,29,36,30,...,32,37,35,33,31,1,23,5,0,33.32
78887,140.0,45,47,40,43,54,47,55,52,40,...,45,47,44,44,1,1,0,4,1,46.44

In [43]:
df.to_csv("/Users/luca/Desktop/GEFCom2014 Data/Load/Task 4/L4-avg_test_clean3.csv")